.frame6 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #312e2b;
  height: 93vh;
}

.frame6 img {
  width: 100%;
  height: 100%;
}

.background_image {
  background-image: url("../images/fundo.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.texto {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
}

.texto h1 {
  display: flex;
  align-items: center;
  color: white;
  margin-right: 50px;
  font-family: SFRounded, ui-rounded, "SF Pro Rounded", -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
